EOl= End Of Line

## Operators
- Add +
- Sub -
- Multiple *
- Div /
- int Div //
- Module ** 
- Exponent %

In [32]:
2+2

4

In [2]:
256*236

60416

In [3]:
10/3

3.3333333333333335

In [4]:
10//3

3

In [5]:
10**3

1000

In [6]:
10%3

1

In [7]:
20**7

1280000000

In [8]:
5568>89536

False

In [9]:
856<10884

True

In [10]:
5!=5

False

In [11]:
'Digipodium'

'Digipodium'

In [35]:
kahani= '''This is a
 normal Text'''

In [34]:
a = 10
b = 3

In [16]:
a + b

13

In [17]:
a**b

1000

In [18]:
a // 2

5

In [19]:
College = 'Babu Banarsi Das Univercity'
DOB = '9 November'
Mobile = '7084123986'

In [20]:
Location = 'Lucknow'

In [21]:
# Undefiend variable error NameError
Place

NameError: name 'Place' is not defined

### String Operators

In [ ]:
'hello' + 'wolrd' #concatention

'hellowolrd'

In [ ]:
"Random" + Location

'RandomLucknow'

In [ ]:
# String and number can not be added 
a + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# you can multiply a string with a number -> duplicaution
name * 10

'Ayush SrivastavaAyush SrivastavaAyush SrivastavaAyush SrivastavaAyush SrivastavaAyush SrivastavaAyush SrivastavaAyush SrivastavaAyush SrivastavaAyush Srivastava'

# Variables

In [22]:
name = 'Bruce Wayne'
hero_name = "Batman"
skills = ['Fighting','Super Intelligence','etc.']
creator = "Bob Kane"
created_in = "1939"

In [43]:
is_coding = True

In [46]:
x = None

## List

In [47]:
a = [5,10,15,20,25,30,40]
vals = [1,2.2,'python']
colors = ['red','green','yellow']

## Tuples

In [48]:
a = (5,10,15,20,25,30,40)
vals = (1,2.2,'python')
colors = ('red','green','yellow')

## Sets

In [49]:
a = {5,10,15,20,25,30,40}
vals = {1,2.2,'python'}
colors = {'red','green','yellow'}

## Dictionaries

In [50]:
car_info = {
    "brand" : "ford",
    "model" : "Mustang",
    "year" : 1964
}