In [2]:
def check():
    print('This is a simple function')

In [3]:
check()

This is a simple function

In [6]:
def divide(a, b):
    ans = a/b
    print(ans)

In [11]:
divide(10,6)

1.6666666666666667

In [12]:
def update_salary(old_salary):
    new_salary= old_salary + old_salary * .08
    print(f"{old_salary}->{new_salary}")
def remove_hra(salary):
    new_salary = salary - salary * .05
    print(f"{salary}->{new_salary}")

In [13]:
update_salary(10000)
remove_hra(10800)

10000->10800.0
10800->10260.0

In [16]:
def update_salary(old_salary):
    new_salary= old_salary + old_salary * .08
    return new_salary
def remove_hra(salary):
    new_salary = salary - salary * .05
    return new_salary

In [19]:
print(update_salary(15000))
remove_hra(10000)

16200.0

9500.0

In [20]:
salary= update_salary(20000)
print(salary)

21600.0

In [21]:
remove_hra(update_salary(15000))

15390.0

In [14]:
def total(a,b,c,d,e):
    ans=a+b+c+d+e
    print(ans)

In [15]:
total(1,2,3,4,5)

15

- WAF to return true or false, if a number is even or not.
- WAF to remove all vowel from a sentance given in a function.
- WAF to return the second highest value from a list given as parameter.

In [17]:
# WAF to return true or false, if a number is even or not.
def evenodd(a):
    if a%2==0:
        return(True)
    else:
        return(False)
evenodd(66)

True

In [1]:
# WAF to remove all vowel from a sentance given in a function.
def removevowel(text):
    junk='aeiouAEIOU'
    for i in junk:
     text=text.replace(i,'')
    return(text)
removevowel('Ayush ')

'ysh '

In [12]:
# WAF to return the second highest value from a list given as parameter.
def max_2(num_list):
    num_list.sort()
    return num_list[-2]
max_2([55,55,90,89,25])

89

In [28]:
def eq_1(x,y,z):
    return x**y-z*x

In [35]:
print(eq_1(2,3,5)) #named parameter/keyword argument
print(eq_1(x=12,y=2,z=3)) #named parameter/keyword argument
print(eq_1(2,z=5,y=8)) #named parameter/keyword argument0

-2
108
246

In [36]:
def add4(x,y,z=0,z2=0):
    return x+y+z+z2

In [39]:
print(add4(1,2,3,4))
print(add4(1,2,))
print(add4(1,2,z=3,z2=4))
print(add4(1,2,z2=5,z=4))

10
3
10
12

In [40]:
def count_zero(*nums):
    if len(nums)>0:
        return nums.count(0)

In [41]:
print(count_zero())
print(count_zero(1,2,3,4,5,6,7,8,9))
print(count_zero(2,2,5,4,0,0,0,3,5,36,0))

None
0
4

In [42]:
def adder(*args):
    if len(args)>0:
        return sum(args)
    return 0

In [44]:
print(adder(1,2,3,4,5,6,7,98,9))
print(adder())

135
0