In [1]:
movies = ['The Holy Grail','The Life of Brain','The Meaning Of Life','terminator','Pulp fiction']

In [5]:
for movie in movies:
    print(movie,len(movie))

The Holy Grail 14
The Life of Brain 17
The Meaning Of Life 19
terminator 10
Pulp fiction 12

In [6]:
for i,name in enumerate(movies):
    print(f"{i} = {name}")

0 = The Holy Grail
1 = The Life of Brain
2 = The Meaning Of Life
3 = terminator
4 = Pulp fiction

In [8]:
for i in range(6):
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [9]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [11]:
# reverse loop
for num in range(10,5,-1):
    print (num)

10
9
8
7
6

In [1]:
# Pattern loop
for i in range(10):
    print (i*'*')

*
**
***
****
*****
******
*******
********
*********

##### WAP to print if no. are even or odd from 1-101.

In [ ]:
for i in range(1,101):
   if(i%2==0):
     print(i)

##### WAP to print the sum of all even numbers from 2 to 101.

In [ ]:
sum=0
for i in range(2,101):
    if i%2==0:
        print(i)
        sum = sum + i
print(sum)

##### WAP to print the average of all the odd numbers from 1 to 100

In [ ]:
sum=0
count=0
for num in range(1,10):
    if num%2!=0:
        count= count + 1
        print(num)
        sum=sum+num
        average=sum/count
print(average)

In [31]:
#native impleementation 
print(1,2,3,4,5,sep=' ')
print(2,4,6,8,10,sep=' ')
print(3,6,9,12,15,sep=' ')
print(4,8,12,16,20,sep=' ')
print(5,10,15,20,25,sep=' ')

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [28]:
#better implementation dynamic rows
for i in range(1,6):
    print(1*i,2*i,3*i,4*i,5*i,sep=" ")

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [27]:
#best implementation -> dynamic rows col.
for row in range(1,6):
    for col in range(1,6):
        print(row*col,end=' ')
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

#### While Loop

In [32]:
x=1
while x<5:
    print('run')
    x +=1
print('stop')

run
run
run
run
stop

In [35]:
# A complex Program
n = 10
#initialize sum and counter
sum = 0
i = 1
while i <= n:
    sum = sum +i
    i = i+1     #update counter
#Print the Sum
print("The Sum is",sum)

The Sum is 55

In [37]:
poem=''
while input('Do you want to write another line ?[y/n]') =='y':
    line = input(">>>")
    poem += line
chars = len(poem)
print(f"Totle chars in poem is {chars}")

Totle chars in poem is 36

In [38]:
poem

'Ayush Srivastavais a student os bca.'

#### continue loop

In [39]:
x = [1,2,'',3,4,5,'',6,7,'',8,9,10]
total = 0
for i in x:
    if isinstance(i,str):
        continue
    total += i
print(total)

55

In [52]:
poem=''
while True: #infinite
    line = input("Enter Poen Line>>")
    if line:
        poem += line+'\n'
    else:
        break
    print("Total chars",len(poem))
    print(poem)

Total chars 17
Ayush Srivastava

Total chars 39
Ayush Srivastava
is the student of bca